<h2>{{ lake }} <em>({{ lake.counties|default:"Not in Oregon" }})</em></h2>
<p>Reachcode: {{ lake.reachcode }}
{% if user.is_authenticated %}
    | <a href="{% url 'admin-edit-lake' lake.reachcode %}">Edit</a>
{% endif %}
</p>

{% if lake.body %}
    <div id="body-wrapper">
        <div class="body-spoiler">
            {{ lake.body|safe }}
        </div>
        <div class="fadeout"></div>
    </div>

    <p>
        <a id="expand-body" href="{% url 'lakes-detail' reachcode=lake.reachcode %}">[+] Expand</a>
        <a id="collapse-body" href="{% url 'lakes-detail' reachcode=lake.reachcode %}">[-] Collapse</a>
    </p>
{% endif %}

{% include "lakes/_tabs.html" %}
