{% extends "main.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div id='home-row1' class='block'>
    <img width='100%' src='{{STATIC_URL}}/img/aol_home_img.png' />
    <div id='home-overlay'></div>
    <div id='home-label'>
        Atlas of Oregon Lakes
        <div id='home-map-link'>
            <a href="{% url 'map' %}">Interactive Map &raquo;</a>
        </div>
    </div>
</div>

<div class="row home-blocks">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>Oregon has a rich diversity of lakes and reservoirs ranging from some of the clearest lakes in the world, to extremely productive fisheries, to lakes in trouble from pollution. Lakes and reservoirs are very important to the citizens of Oregon as they provide drinking water, flood control, irrigation, power generation, and recreational opportunities such as swimming, boating, fishing, and relaxation.</p><p>The Atlas of Oregon Lakes is a resource for the public, resource management agencies, and scientists to better manage and enjoy our lakes. The online atlas is an updated version of the popular Atlas of Oregon Lakes published in 1985 by the Oregon State University Press.</p>
    </div>
    <div class="col-md-4">
        <h2>Individual Lakes Pages</h2>
        <img src="{{STATIC_URL }}img/lake_1.jpg" class="pull-left">
        <p>Discover the rich diversity of Oregon’s lakes—learn about the current and historical topography, environmental relationships, and recreational and practical uses. View photos, water quality plots, and download resources including the original 1985 print atlas pages.</p>
    </div> 
    <div class="col-md-4">
        <h2>Atlas Features</h2>
        <img src="{{STATIC_URL }}img/atlas_page.png" class="pull-left">
        <p>In addition to the comprehensive information in the 1985 print version, the online Atlas of Oregon lakes features updated information, more data types, and interactive functionality not possible through a print source, such as links to marine facilities information, water quality graphs, photographs, and downloadable data. All of these features are available through the interactive map as well as within each lake's page.</p>
    </div>
</div>
<div id='home-footer'><a href="http://www.clr.pdx.edu/">Center for Lakes &amp; Reservoirs</a> | <a href="http://csar.pdx.edu/">Center for Spatial Analysis &amp; Research</a> | <a href="http://www.pdx.edu/cupa/">College of Urban &amp; Public Affairs</a> | <a href="http://www.pdx.edu/arc/">Academic &amp; Research Computing</a> | <a href="http://www.oregon.gov/DEQ/Pages/index.aspx">Oregon Department of Environmental Quality</a>
    <br>&copy; 1985-{% now "Y" %} Atlas of Oregon Lakes. For technical support <a href="/contact">contact us</a></div>
{% endblock %}
