textarea {
    width:100%;
}

#header-wrap {
    background-color: #06186A;
    padding-top:20px;
}

#site-title {
    color: white;
    font-size: 32px;
    text-decoration: none;
}

#site-title img {
    vertical-align:middle;
}

#header-search {
    padding-top:20px;
}

#navigation ul {
    list-style-type:none;
    margin-left:0;
    padding-left:0;
}

#navigation li {
    display:inline;
    border-right: solid white 1px;
    padding-right:10px;
    padding-left:10px;
    padding-top:0;
    padding-bottom:0;
}

#navigation li:last-child {
    border:none;
}
.home-blocks img{
    border: solid 2px grey;
    margin: 5px 15px 5px 0px;
}

#navigation a:link,
#navigation a:visited,
#navigation a:hover {
    color:#ffffff;
    font-size:16px;
}

.clear {
    clear:both;
}

#content {
    min-height: 600px;
}

.nav-tabs {
    margin-bottom:15px;
}

.lake-map {
    display:block;
    margin-bottom:5px;
}

.lake-photo {
    display: none;
    text-align: center;
    height:300px;
}

.lake-photo:first-child { 
    display: block;
}

#previous img { 
    padding: 5px 5px 5px 0px;
}

#next img { 
    padding: 5px 0px 5px 5px;
}

#numphotos {
    float: right;
    padding: 15px;
}

#home-row1 { 
    border-bottom: solid 1px grey; 
    position: relative;
}

#home-overlay {
    position:absolute;
    top: 25%;
    left: 20%;
    z-index:2;
    background-color:white;
    opacity:0.42;
    width: 660px;
    height: 300px;
    border-radius: 5px;
}

#home-label {
    position: absolute;
    top: 39%;
    left: 30%;
    color: black;
    z-index: 3;
    text-align: center;
    font-size: 2.5em;
}

#home-map-link {
    margin: auto;
    width: 70%;
    margin-top: 20px;
    background: #06186A;
    color: #FFF;
    border-radius: 12px;
    padding-bottom: 10px;
}

#home-map-link a {
    font-size: 0.5em;
    color:white;
}

#home-footer{
    font-size: 0.75em;
    text-align:center;
    padding:10px;
}

.fadeout {
    position: relative; 
    top: -4em;
    height: 4em;
    margin-bottom:-4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} 

.nowrap {
    white-space:nowrap;
}
