{% extends "main.html" %}
{% block content %}

<p>Open the "Export" query in your Microsoft Access Database, copy everything (Ctrl-A, Ctrl-C), and paste everything in the text box below (Ctrl-V)</p>
<p>The columns should be in this order, separated by tab characters: <samp>ReachCode|Scientific Name|CommonName|Family|Former name|ObsDate|AIS</samp></p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include "_form.html" %}
    <input type="submit" name="submit" value="submit" />
</form>
{% endblock %}
