{% extends "main.html" %}
{% block content %}

<h3>Import Plant Data</h3>
<p>Open the "Export" query in your Microsoft Access Database, copy everything (Ctrl-A, Ctrl-C), and paste everything in the text box below (Ctrl-V)</p>
<p>The columns should be in this order, separated by tab characters: <samp>ReachCode&lt;tab&gt;Scientific Name&lt;tab&gt;CommonName&lt;tab&gt;Family&lt;tab&gt;Former name&lt;tab&gt;ObsDate&lt;tab&gt;AIS</samp></p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include "_form.html" %}
    <input type="submit" name="submit" value="submit" />
</form>
{% endblock %}
