<ul class='nav nav-tabs'>
    <li class="active"><a data-toggle="tab" title='maps' href='#maps'>Maps</a></li>
    <li><a data-toggle="tab" title='plants' href='#plants'>Plants</a></li>
    <li><a data-toggle="tab" title='mussels' href='#mussels'>Molluscs</a></li>
    <li><a data-toggle="tab" title='other-information' href='#other-information'>Documents</a></li>
    <li><a data-toggle="tab" title='photos' href='#photos'>Photos</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id='maps'>
        {% if maps|length == 1 %}
            {% with map=maps|first %}
                <a href="{{ map.url }}">{{ map.name }}</a>
            {% endwith %}
        {% elif maps|length > 1 %}
            <ul>
                {% for map in maps %}
                    <li><a href="{{ mapurl }}">{{ map.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if maps %}<hr />{% endif %}

        <select id='map-select' >
            {% if lake.watershed_tile_url %}
                <option value='#watershed'>Watershed</option>
            {% endif %}

            {% if lake.basin_tile_url %}
                <option value='#basin'>Basin</option>
            {% endif %}
        </select>

        {% if lake.watershed_tile_url %}
            <div id='watershed' class='lake-watershed lake-map'>
                <img src="{{ lake.watershed_tile_url }}" /> 
            </div>
        {% endif %}

        {% if lake.basin_tile_url %}
            <div id='basin' class='lake-waterbasin lake-map'>
                <img src="{{ lake.basin_tile_url }}" />
            </div>
        {% endif %}
    </div>

    <div class="tab-pane" id='mussels'>
        {% if lake.mussels %}
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Status/Species</th>
                        <th>Source</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mussel in lake.mussels %}
                        <tr>
                            <td>{{ mussel.date_checked }}</td>
                            <td>{{ mussel.species }}</td>
                            <td>{{ mussel.source }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning">No mussel data available.</div>
        {% endif %}
    </div>

    <div class="tab-pane" id='plants'>
        {% if lake_plants %}
            <p>Plants are categorized as native to Oregon, on ODA Noxious Weed List, on the Federal Noxious Weed List, or non-native but not the noxious weed lists.</p>
            <p><a href="http://www.oregon.gov/ODA/PLANT/WEEDS/docs/pdf/Policy2013.pdf">ODA Class A</a> - weeds either unknown or with small enough infestations to make eradication or containment possible; targeted for eradication or intensive control.</p>
            <p><a href="http://www.aphis.usda.gov/plant_health/plant_pest_info/weeds/downloads/weedlist.pdf">ODA Class B</a> - regionally abundant weeds (may have limited distribution in some counties); targeted for local/regional control on case-by-case basis.</p>
            <p>Federal Noxious Weed List - plants determined by USDA to be serious threats to U.S. agriculture, irrigation, navigation, public health or the environment (7 C.F.R. 360.200)</p>

            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Species</th>
                        <th>Status</th>
                        <th>Source</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lake_plant in lake_plants %}
                        <tr>
                            <td class="nowrap">{{ lake_plant.observation_date|default:"-" }}</td>
                            <td>{{ lake_plant.plant.name }} ({{ lake_plant.plant.common_name }})</td>
                            <td>{{ lake_plant.plant.get_is_native_display }} {{ lake_plant.plant.get_noxious_weed_designation_display }}</td>
                            <td><a href="{{ lake_plant.source_link }}" class="has-tooltip" title="{{ lake_plant.get_source_display }}">{{ lake_plant.source }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}  
            <div class="alert alert-warning">No plant data available.</div>
        {% endif %}
    </div>

    <div class='tab-pane' id='other-information'>
        {% if documents %}
            <ul>
                {% for doc in documents %}
                    <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-warning">No documents available.</div>
        {% endif %}
    </div>
    <div id='photos' class="tab-pane">
        {% if photos %}
            <div id='photo-wrap'>
                {% for photo in photos %}
                    <div class="lake-photo">
                        <a target="_blank" title="{{ photo.caption }}" href='{{ photo.url }}' data-lightbox="photo-1"><img src="{{ photo.thumbnail_url }}"/></a>
                    </div>
                {% endfor %}
            </div>
            <span id='previous'><img src='{{ STATIC_URL }}img/prev.png'></span>
            <span id='next'><img src='{{ STATIC_URL }}img/next.png'></span>
            <span id='numphotos'>0/0</span>
        {% else %}
            <div class="alert alert-warning">No photos available.</div>
            <p>If you would like your photos of Oregon lakes featured in the online atlas, <a href="/photo-submissions">click here</a> for submission criteria.</p>
        {% endif %}
    </div>
</div>
<script type='text/javascript'>
    $(document).ready(function(){
        //map select    
        $('.lake-map:not(:first)').hide();
        $('#map-select').change(function(){
            $('.lake-map').hide(); 
            $(this.value).show();
        });
        //slideshow 
        var current = 1;
        var numphotos = $('.lake-photo').length;
        $('#numphotos').html(current + '/' + numphotos); 
        $('#next').click(function(){
            $('.lake-photo:nth-child('+current+'').hide();
            current +=1; 
            if(current > numphotos) current -= numphotos;
            $('.lake-photo:nth-child('+current+'').show();
            $('#numphotos').html(current + '/' + numphotos); 
        });
        $('#previous').click(function(){
            $('.lake-photo:nth-child('+current+'').hide();
            current -= 1; 
            if(current < 1) current += numphotos;
            $('.lake-photo:nth-child('+current+'').show();
            $('#numphotos').html(current + '/' + numphotos); 
        });
    });
</script>
