{% extends "main.html" %}
{% block title %}{{ lake }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-7">
        <h1>{{ lake }} <em>({{ lake.counties }})</em></h1>
        <p>
            Reachcode: {{ lake.reachcode }} | <a href="{% url 'map' %}?minx={{ lake.bounding_box.0 }}&miny={{ lake.bounding_box.1 }}&maxx={{ lake.bounding_box.2 }}&maxy={{ lake.bounding_box.3 }}&reachcode={{ lake.reachcode }}">View on Interactive Map</a>
            {% if user.is_authenticated %}
                | <a href="{% url 'admin-edit-lake' lake.reachcode %}">Edit</a>
            {% endif %}
        </p>

        {% if lake.body %}
            {{ lake.body|safe }}
        {% else %}
            Check back for more information about {{ lake }}. If you would like to contribute information about this lake, contact <a href="mailto:oregonlakesatlas@pdx.edu">oregonlakesatlas@pdx.edu</a>.
        {% endif %}
    </div>
            
    <div class="col-md-5">
        <br /><!-- lazy man's spacing -->
        {% include "lakes/_tabs.html" %}
    </div>
</div>
{% endblock %}
