{% extends "main.html" %}
{% block content %}
<div class='wrap block'>
	<div class='span8 block'>
        <h1>{{ lake }} <em>({{ lake.counties }})</em></h1>
        <p>Reachcode: {{ lake.reachcode }}</p>
        <div class="lake-body">
            {% if lake.body %}
                {{ lake.body|safe }}
            {% else %}
                Check back for more information about Lake of the Woods. If you would like to contribute information about this lake, contact <a href="mailto:oregonlakesatlas@pdx.edu">oregonlakesatlas@pdx.edu</a>.
            {% endif %}
	    </div>
    </div>
        
    <div class='lake-right span4 right'>
        {% include "lakes/_tabs.html" %}
    </div>
</div>

{% endblock %}
