{% extends "main.html" %}
{% block title %}Alphabetical Listing of Lakes{% endblock %}
{% block content %}
<h2>Individual Lake Pages</h2>
<ul class="pagination">
    {% for a_letter in letters %}
        <li class="{% if a_letter == letter %}active{% endif %}" ><a href="{% url 'lakes-listing' a_letter|lower %}">{{ a_letter }}</a></li>
    {% endfor %}
</ul>

{% if letter %}
    {% if lakes %}
        {% if important_lakes %}
            <h3>Major Lakes</h3>
            <p>These lakes were included in the original <em>Atlas of Oregon Lakes</em> &ndash; or &ndash; they have photos, documents, plant data or mussel data available.</p>
            {% include "lakes/_row.html" with lakes=important_lakes %}
        {% endif %}
        {% if non_important_lakes %}
            <h3>Other Lakes</h3>
            {% include "lakes/_row.html" with lakes=non_important_lakes %}
        {% endif %}

        <div class="pagination">
            <span class="step-links">
                {% if lakes.has_previous %}
                    <a href="?page={{ lakes.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ lakes.number }} of {{ lakes.paginator.num_pages }}.
                </span>

                {% if lakes.has_next %}
                    <a href="?page={{ lakes.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <div class="alert alert-warning">
            No matching lakes found!
        </div>
    {% endif %}

{% else %}
    <div class="alert alert-warning">
        Click a letter above to see a listing of lakes.
    </div>
{% endif %}
{% endblock %}
